.App {
  text-align: center;
  min-height: 100vh;
}


.input {
  margin-top: 3rem;
  width: 30vw;
}

.words {
  background-color: rgba(211, 228, 244, 0.1);
  word-spacing: .5rem;
}

.active {
  background-color: rgb(184, 194, 204, 0.4);
}

.failed {
  background-color: red;
}

.success {
  background-color: bisque
}